header{
  background-image: url(1.jpg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: contain;
  padding: 270px;
  }
  body{
      background-color: seashell;
      background-repeat: no-repeat;
      background-size: cover;
    }

  
nav ul{
  box-sizing: border-box; 
  background:maroon;
   height: 80px;
   width: 100%;
  padding: 0px;
  margin: 0 5px;
  line-height: 80px;
  margin-inline-end: 20px;
  list-style: none;
   text-align: center;
}
nav li{
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid black;
  text-align: center;
  line-height: 40px;
}
nav li:hover{
  background-color:brown;
  border-radius: 3px;
}
nav li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  text-decoration: none;
  color:white;
  }
  h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  div.class{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    line-height: 30px;
  }
  .class{
    display: inline-block;
    vertical-align: auto;
    border-radius: 4px;
    float: left;
    padding: 40px;
  }
  img{
    float: center;
    text-align: center;
    width: 70%;
    line-height: 30px;
  }
  
  .class:hover{
    background-color:transparent;
  }
  .class a{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    background-color:maroon;
    border-radius: 4px;
    font-weight: 200;
    color: black;
  }
  
  img{
    float: left;
    width: 200px;
    border-radius: 0px;
    box-shadow: 10px 10px 5px black; 
    
}
div .a{
  background-color:inherit;
  border:inherit;
}
ul li.active a{
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
