p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    width:100%;
}
header{
    background:url("fond_egypte.jpg") no-repeat; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-size: cover;
    padding: 250px;
}
h1{
    color: black;
}
h2{
    text-align: center;
}
h2 p{
    text-align: center;
}
nav ul{
   
    list-style-type: none;
     text-align: center;
     height: 80px;
     width: 100%;
    padding: 0px;
    margin: 0 5px;
    line-height: 80px;
    
  }
  nav li{
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #fffae1;
    text-align: center;
    line-height: 40px;
  }
  nav li:hover{
    background-color: rosybrown;
    border-radius: 3px;
  }
  nav li a{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-decoration: none;
    color: black;
    }
img{
    float: center;
    width: 200px;
    border-radius: 0px;
    width: 15%;
    }
    div, p #video{
        text-align: center;
    }
 
}
body{
    background-color: #fffae1;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    }
    
footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fffae1;
    color: black;
  }
  ul li.active a{
    background-color:rosybrown;
    color: #000;
    box-shadow: 0 0 5px rosybrown, 0 0 10px rosybrown, 0 0 20px rosybrown;